#title {
    float:inline;
    font-size: 50px;
    text-align:center;
    color:royalblue;
}
p.blogpost_date{
    text-align:center;
    font-size: 20px;
    text-decoration-color: aliceblue;
    font-weight:bold;
}
p.blogpost{
    text-align:left;
    font-size: 24px;
}
div.blogpost{
    float:inline;
    margin-right:500x;
    margin-left:500x;
    padding :10px;
    border:solid;
    background-color: aliceblue;
}
body{
    background-color:grey;
}