@media(max-height:300px) {
  #title {
    color:green;
  }
}
body {
  margin:0;
  padding:0;
}
#root-container {
  background:#FFA07A;
  display:flex;
  flex-direction: column;
  justify-content: left;
}
#title {
 color:black;
 text-align:center;
 margin:auto;
}
#introduction {
  display:flex;
  flex-direction:column;
  background:#FFA07A;
  justify-items:center;
  align-items:center;
  height:100vh;
  width:100%;
  float:left;
}
#intro-text {
  color:black;
  width:80%;
  font-weight: bold;
  font-size: large;
  text-indent:5%;
}
#barrier {
  width:100vw;
  height:30vh;
  background-color: black;
}
#barrier-text-container {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}
.barrier-text {
  color:white;
  font-weight:bold;
  font-size: 300%;
  text-align:center;
}
#profile-pic {
  max-height:50%;
  max-width:20%;
  margin:4%;
}
#welcome-section {
 display:flex;
 height:100vh;
 padding:0;
 background-color:pink;
 justify-content:center;
 width:100vw;
}

#projects-holder {
  width: 100vw;
  background-color: #FFA07A;
  height: 100vh;
}

#projects {
 width: 100%;
 height:100%;
 margin-left:auto;
 margin-right:auto;
 display:grid;
 grid-template-columns: 20% 20% 20%;
 grid-template-rows: auto;
 row-gap: 5%;
 column-gap: 5%;
 background-color:#FFA07A;
 justify-content:space-around;
 align-content: space-around;
}
.project-tile {
 display:flex;
 flex-direction:column;
 font-weight:bold;
 flex-basis: auto;
 color:black;
 background-color: rgb(153, 153, 153);
 width:  100%;
 height: 100%;
 align-items:center;
 justify-items: flex-end;
 justify-content: end;
}
#lol {
  margin:10%;

}
.bot {
 align-self: center;
 text-align:center;
 border-style: groove;
 border-radius: 1%;
}
.project-image {
  display:block;
 max-height:100%;
 max-width:100%;
 margin:auto;
}
#navbar {
 position:fixed;
 background-color:black;
 top:0;
 left:0;
 width:100vw;
 height:10%;
}
#navigation {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 margin-left:10%;
}
.nav-ele {
  color: white;
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
.nav-ele:hover {
  background-color:gray;
}
.list-ele{
  float:left;
}
#center {
  margin-top:auto;
  margin-bottom:auto;
}
#end {
 display:flex;
 color:black;
 height:20vh;
 font-style:bold;
 margin:auto;
 background-color:pink;
 width:100vw;
}
#profile-link {
 justify-content:center;
 margin:auto;
}
#github-logo {
  max-width: 30%;
  max-height:30%;
}