#img {
  float:inline;
  width: 600px;
  height: 500px;
  border-style:dotted;
  margin-left:500px;
  margin-right:500px;
}
#poem{
  text-align:center;
}
body {
  background-color: #f7a5a1;
}
h1 {
  font-weight:
  color;
  font-size:100px;
}

